**Representations**

- String representations with quotes
- list represent with square brackets

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [4]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [5]:
l3=[1,2,3,4,'A','B','C','D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [6]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
l4

[1, 2, 3, 'Apple', 'Ball', 'Cat', True, False]

In [7]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [8]:
l6=[100,100,100]
l6

[100, 100, 100]

In [10]:
l7=[100,'apple',['a',2]]
l7

[100, 'apple', ['a', 2]]

In [12]:
l8=['@','#','$','%']
l8

['@', '#', '$', '%']

- Liat are array of elements 
- List elements are heterogeneous all the data types we can represent in a list
- List elements are allowed duplicates 
- List in list is possible 
- Variable assignment also possible in the list

- len 
- max
- min
- sorted
- reversed

**len**

In [13]:
l1=[1,2,3,4]
len(l1)

4

In [14]:
l2=['A','B','C','D']
len(l2)

4

In [15]:
l3=[1,2,3,4,'A','B','C','D']
len(l3)

8

In [16]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
len(l4)

8

In [17]:
name='naresh it'
l5=[name]
len(l5)

1

In [18]:
l6=[100,100,100]
len(l6)

3

In [19]:
l7=[100,'apple',['a',2]]
len(l7)

3

In [20]:
l8=['@','#','$','%']
len(l8)

4

**Max**

In [32]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'apple',['a',2]]
l8=['@','#','$','%']
print(max(l1))

4

In [33]:
print(max(l2))

D

In [34]:
print(max(l3))

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
print(max(l4))

TypeError: '>' not supported between instances of 'str' and 'int'

In [36]:
print(max(l5))

naresh it

In [37]:
print(max(l6))

100

In [38]:
print(max(l7))

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
print(max(l8))

@

**Min**

In [ ]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'apple',['a',2]]
l8=['@','#','$','%']

In [40]:
min(l1)

1

In [41]:
min(l2)

'A'

In [42]:
min(l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
min(l4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
min(l5)

'naresh it'

In [45]:
min(l6)

100

In [46]:
min(l7)

TypeError: '<' not supported between instances of 'str' and 'int'

In [47]:
min(l8)

'#'

**Sorted**

In [57]:
l1=[2,4,3,1]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'apple',['a',2]]
l8=['@','#','$','%']

In [50]:
sorted(l1)

[1, 2, 3, 4]

In [51]:
sorted(l2)

['A', 'B', 'C', 'D']

In [52]:
sorted(l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [53]:
sorted(l4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [54]:
sorted(l5)

['naresh it']

In [55]:
sorted(l6)

[100, 100, 100]

In [58]:
sorted(l7)

TypeError: '<' not supported between instances of 'str' and 'int'

In [59]:
sorted(l8)

['#', '$', '%', '@']

**Reversed**

In [60]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'apple',['a',2]]
l8=['@','#','$','%']

In [62]:
output=reversed(l1)
for i in output:
    print(i)

4
3
2
1

In [63]:
output=reversed(l2)
for i in output:
    print(i)

D
C
B
A

In [64]:
output=reversed(l3)
for i in output:
    print(i)

D
C
B
A
4
3
2
1

In [65]:
output=reversed(l4)
for i in output:
    print(i)

False
True
Cat
Ball
Apple
3
2
1

In [66]:
output=reversed(l5)
for i in output:
    print(i)

naresh it

In [67]:
output=reversed(l6)
for i in output:
    print(i)

100
100
100

In [68]:
output=reversed(l7)
for i in output:
    print(i)

['a', 2]
apple
100

In [69]:
output=reversed(l8)
for i in output:
    print(i)

%
$
#
@

In [71]:
list(reversed(l4))  # like this also we can use in list

[False, True, 'Cat', 'Ball', 'Apple', 3, 2, 1]

In [75]:
name=['adhithya','Adithya','girik','Girik']
print(min(name))
print(max(name))
# First compare all first letters
# if all first letters ascii values same
# then compare with second letters
# continue the process

Adithya
girik

In [78]:
list=['Apple',
        1,
    ['cherry','banana']]
list

['Apple', 1, ['cherry', 'banana']]

In [80]:
list1=[65,33]
max(list1)

65

**Indexing**

In [101]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'apple',['a',2]]
l8=['@','#','$','%']

In [106]:
n=len(l1)
for i in range(n):
    print(f'The positive index of {l1[i]} is {i}')

The positive index of 1 is 0
The positive index of 2 is 1
The positive index of 3 is 2
The positive index of 4 is 3

In [ ]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]

# -8 -7 -6   -5     -4    -3   -2     -1
#  1  2  3  Apple  Ball  Cat  True  False
#  0  1  2    3     4     5     6     7

In [81]:
l4[3],l4[-5]

('Apple', 'Apple')

**slicing**

In [105]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l3=[1,2,3,4,'A','B','C','D']
l4=[1,2,3,'Apple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=[100,100,100]
l7=[100,'apple',['a',2]]
l8=['@','#','$','%']


print(l2[3],l2[-4])
print(l1[2])

D A
3

In [82]:
l1=[1,[2]]
l1[1][0]

2

In [85]:
l1=[1,[2],[3]]
new=l1[2]
new[0]

3

In [86]:
l1=[1,[2,'A']]
l1[1][1]
# 'A' is presented at index 1
# so we given l1[1] : [2,'A'] it is also a list
# The list has two elements
# 'A' at 1st index
# l1[1][1]

'A'

In [104]:
l1=[1,[2,['A','B']]]
len(l1)
l1[1][1][1]

'B'

In [109]:
l1=[1,2,[3,[4,[5,['APPLE']]]]]
l1[2][1][1][1][0]

'APPLE'

In [111]:
list1=['Apple',1,'Solapur',['cherry','papaya',70,[123,'Banana'],'tomato'],'python'] 
list1[3][3][1]

'Banana'

In [3]:
list1=[[[[[[[1,'Cherry']]]]]]]
len(list1)
list1[0][0][0][0][0][0][1]

'Cherry'

In [7]:
list1=['MH',
       ['Nagpur',['Orange',['likes',['king'],['shivaji',['Son',['shambaji']]]]]
       ]]
len(list1)
list1[1][1][1][2][1][1][0]

'shambaji'

In [126]:
# In operator
# index
# mutability check
# slicing
# positive index
# negatiue index
# concatination

**List Methods**

In [8]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort

**Append**

- Adding elements in a list at last index
- append method is very important
- most of the time we will use append in real time projects
- when you add the value the originalk list will be overwrite

In [11]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [ ]:
# You want to add Doll in a given list
# keywords   vs   methods
len()
max()
min()
reversed()
sorted()

# Methods
<package>.<methods>()

In [22]:
l=['Apple','Ball','Cat']
l.append('Doll')
l

['Apple', 'Ball', 'Cat', 'Doll']

In [23]:
l.append('Eagle')
l

['Apple', 'Ball', 'Cat', 'Doll', 'Eagle']

In [24]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [25]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('Apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 20, 'Apple', ['A', 1], True]

In [27]:
l2.append('Ball')
l2.append('B')
l2.append('Cat')
l2.append('C')
l2.append('Dog')
l2.append('D')
l2

[10,
 20,
 'Apple',
 ['A', 1],
 True,
 'Ball',
 'B',
 'Cat',
 'C',
 'Dog',
 'D',
 'Ball',
 'B',
 'Cat',
 'C',
 'Dog',
 'D']

**Append method used to save the output in a list**

In [28]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [30]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25]

In [32]:
list=[]
for i in range(1,10):
    list.append(i*i)
list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
# Q1) str='hai hai hai'
# what are index of 'a'
# save that index numbers in a list
str1='hai hai hai'
id_list=[]
for i in range(len(str1)):
    if str1[i]=='a':
        id_list.append(i)
        
id_list,sum(id_list)

([1, 5, 9], 15)

In [38]:
summ=0
str1='hai hai hai'
for i in range(len(str1)):
    if str1[i]=='a':
        summ=summ+i
summ

15

In [1]:
'nadeem' in '#'   # 'nadeem' is availabe in '#'
'#' in 'nadeem'   # is '#'  availabe in 'nadeem'
'nad##m' in '#'   # is 'nad##m' available in '#'
'#' in 'nad##n'   # is '#'  availabe  in 'nad##m'

True

**Split - Join**

- Split will apply for strings, to divide the words or characters 
- when we split the elements will be stored in a list format 
- Join is used to combine the elements of  list in a string format
- **split-string**
- **Join-list**

In [69]:
str1='hello im learning python'
words=str1.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
print(new_words)   ##splitting on string
print(' '.join(new_words))   # joing we are applying on words

['Hello', 'Im', 'Learning', 'Python']
Hello Im Learning Python

In [19]:
# calculate the distance between 2 points
# a=[1,2]
# b=[4,5]
# a=[x1,x2]
# b=[y1,y2]

# step1:v1= x2-x1=a[2]-a[1]
# step2:v2= y2-y1=b[2]-b[1]
# step3: v11=v1**2
# step4: v22=v2**2
# step5: ans=math.sqrt(v11+v22)

import math 
a=[1,2]     #   [x1,y2]
b=[4,5]     #   [x2,y2]

v1=b[0]-a[0]
v2=b[1]-a[1]
v11=v1**2
v22=v2**2
print(math.sqrt(v11+v22))

4.242640687119285

In [33]:
import math

points = [[1, 2], [2, 3], [3, 4]]
val = [2, 3]

max_distance = 0

for i in points:
  x1, y1 = point  # Unpack coordinates from point
  x2, y2 = val     # Unpack coordinates from val

  # Calculate difference between coordinates
  diff_x = x2 - x1
  diff_y = y2 - y1

  # Calculate squared distance
  squared_distance = diff_x**2 + diff_y**2

  # Calculate actual distance
  distance = math.sqrt(squared_distance)

  print(f"Distance to point ({x1}, {y1}): {distance}")

  # Update maximum distance if current distance is greater
  if distance > max_distance:
    max_distance = distance

print(f"\nMaximum Distance: {max_distance}")

Distance to point (3, 4): 1.4142135623730951
Distance to point (3, 4): 1.4142135623730951
Distance to point (3, 4): 1.4142135623730951

Maximum Distance: 1.4142135623730951

In [ ]:
# calculate the distance between val[2,3] to each and every point 
# and find the maximum distance
import math

points=[[1,2],[2,3],[3,4]]
val=[2,3]

for i in points:
    print(i[0],i[1])
    print(val[0],val[1])
    o1=val[0]-i[0]
    o2=val[1]-i[0]
    print(f'{val[1]}-{i[0]}={o1},{val[0]}-{i[0]}={o2}')
    v11=o1**2
    v22=o2**2
    print(math.sqrt(v11+v22))

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

**Clear**

In [65]:
l1=['apple','ball','cat']
l2=l1.copy()
l2

['apple', 'ball', 'cat']

**Copy**

In [63]:
l1=['apple','ball','cat']
l2=l1.copy()
l1,l2

(['apple', 'ball', 'cat'], ['apple', 'ball', 'cat'])

In [22]:
l=[1,2,3,4,[5,6],7]
l.count([5,6])
l

[1, 2, 3, 4, [5, 6], 7]

In [26]:
l=['apple','ball','cat']
l.extend('doll')
l

['apple', 'ball', 'cat', 'd', 'o', 'l', 'l']

In [61]:
l=[0,1,2,3,4,5,6,7]
l.index(0,4)
l

ValueError: 0 is not in list

In [31]:
l=['apple','ball','cat']
l.insert(3,'doll')
l

['apple', 'ball', 'cat', 'doll']

In [39]:
l=['apple','ball','cat']
l.pop(1)
l

['apple', 'cat']

In [56]:
l=['apple','ball','cat']
l.remove('ball')
l

['apple', 'cat']

**pop vs remove**

- In 'pop' we have to give the index number to remove the element from the list
- Whereas in 'remove' we have to enter the element name to remove from the list

In [42]:
l=['apple','ball','cat']
l.reverse()
l

['cat', 'ball', 'apple']

In [51]:
l=['apple','ball','cat']
l.sort(reverse=True)
l

['cat', 'ball', 'apple']

**append - extend - concatination - insert**

In [67]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.append(l2)
print(l1)
print(l2)

# l1 list is overwrite with l2 values

[1, 2, 3, 4, ['A', 'B', 'C', 'D']]
['A', 'B', 'C', 'D']

In [70]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [71]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1+l2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [73]:
l1=[1,2,3,4]
l2=['A','B','C','D']
print(l1+l2)
print(l2+l1)
print(l1+l1)
print(l2+l2)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D']
[1, 2, 3, 4]
['A', 'B', 'C', 'D']

- append just append the value with base data type
- extend is concatenate the value, and the list will be overwrite with new values 
- extend can take any iterable format type i.e. string, list tuple
- extend and concatenation both are same 
- the list will ot overwrite in concatenation

**Index**

- Same like string only

In [82]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.index(2)
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
i1,i2

(3, 6)

- Case-1: Directly get the index
- Case-2: Next value index, by providing start
- Case-3: Between the values

**Insert**

- will insert the element based on index
- append will add the element at last only

In [17]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index(40)      # Apple index = 3
l1.insert(i1,'cherry')     #  insert banana before index  il(3)
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple', 'cherry', 40]

In [22]:
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.insert(i2,'cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'cherry', 'Apple', 'cherry', 40]

**Pop - remove - del**

- pop will remove the item
- pop also display the item which is removing
- pop will take one argument index
- pop will remove the item based on index
- if you dont provide any index, by default it will remove last value
- Because the default index value is -1

In [49]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [52]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.pop(i2)
l1

[1, 2, 3, 'Apple', 10, 20, 40]

In [58]:
# to remove multiple 'Apple' from the list 

l1=[1,2,3,'Apple',10,20,'Apple',40,'Apple']
i1=l1.index('Apple')
l1.pop(i1)
i1=l1.index('Apple')
l1.pop(i1)
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 40]

In [75]:
# str='hai apple how are you apple im good apple thank you apple'
# o/p = 'hai how are you im good thank you'
# step-1 : split
# iterate it 
# pop it
# join it

str='hai apple how are you apple im good apple thank you apple'
list1=str.split()
count=list1.count('apple')
for i in range(count):
    i1=list1.index('apple')
    list1.pop(i1)
' '.join(list1)

'hai how are you im good thank you'

- pop will take the index
- remove will take the value 
- remove will delete the first occurence of element

In [78]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.remove('Apple')
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [79]:
str='hai apple how are you apple im good apple thank you apple'
list1=str.split()
count=list1.count('apple')
for i in range(count):
    list1.remove('apple')
' '.join(list1)

'hai how are you im good thank you'

**del**

In [90]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
del(l1[3])
l1

[1, 2, 3, 10, 20, 'Apple', 40]

- append / extend / insert / Concatination
- Pop / remove / del
- sort / sorted
- reverse / reversed
- count and index