######### Python Divided into 3 parts ################
------ Basics
1) variables
2) Data types
3) Type conversions
4) eval input
5) pacakages
6) conditional statements 
7) try-execpt
8) Functions 
9) For 
10) While

-------- Intermediate part

11) Strings
12) Lists
13) Dictionary
14) Tuples
15) Sets
16) Lambda Functions
17) File handling session

--------Advanced

18) OOPS

================== PART-1 =====================
- Initialization
- type
- len
- max
- min
- sorted
- reveresed
- in
- for loop using in
- index
- for loop using index
- mutable
- concatenation
- slicing

================== PART-2 ======================

#Methods

**Initialization**

In [3]:
str1='Python'
str1

'Python'

In [4]:
str2='Python'
str2

'Python'

In [5]:
print(str1) # Do not confuse im not seeing the quotes

Python

**Note**

- If we mentioned single quotes or double quotes by default python provides in single quotes only 1
- If we print the strings, we will answer without quotes
- Trple quotes are using for doc string
- in order to convey the information about coding part we will use doc string
- anything inside a single or double quotes is considered as string in python

**Triple Quotes**

In [7]:
str3="""hi how are you 
        Im Good"""
str3

'hi how are you \n        Im Good'

**Type**

In [8]:
type(str1) # type is string time

str

In [9]:
str4='10'  # integer value in the form of string
str5='10.5'  # Float value in the form of string 
str6='123abc'  # Alpha numeric in the form of string
str7='True'  # Boolean in the form of string
str8='Sinx'
# anything inside a single or double quotes is considered as string in python

**Len**

In [10]:
str1='python'
len(str1)

6

In [12]:
str9='TUMMALA GIRIK SAI RAHUL'
len(str9)

23

**Max and Min**

In [13]:
str1='python'
max(str1)

'y'

In [14]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('h')

(112, 121, 116, 104, 111, 104)

In [15]:
str1='python'
min(str1)

'h'

In [16]:
str10='GirikSaiRahul'
max(str10),min(str10)

('u', 'G')

**Keywords vs Methods**

In [ ]:
type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)
input(<>)
sum(<>)

In [ ]:
- in order to use method we need to call package

import random
random.randint()

import math 
math.sqrt()

import time
time.sleep()

In [17]:
str1='python123'
max(str1)

'y'

**Sum**

In [18]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
'p'+'y'

'py'

In [22]:
sum([1,2,3])

6

**Sorted**

In [ ]:
len('python')
max('python')
print('python')
min('python')
max('python')

In [23]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

- Sorted gives ascending order basec on ASCII numbers
- Sorted is kind of afunction
- every function we have arguments
- In that one default argument is **reverse=False**
- by default sorted output gives **ascending order**
- we an change the order, by provideing **reverse=True**
- **If we do not mention anything it will give the default answer**

In [25]:
sorted('python/',reverse=True)

['y', 't', 'p', 'o', 'n', 'h', '/']

In [26]:
complex()   # 0+0j

0j

In [27]:
complex(10,20)

(10+20j)

In [28]:
complex(real=10,imag=30)

(10+30j)

In [30]:
sorted('GirikSaiRahul')

['G', 'R', 'S', 'a', 'a', 'h', 'i', 'i', 'i', 'k', 'l', 'r', 'u']

In [ ]:
function()      # Answer
function(a,b)   # this might return error, if we dont give the value of a,b
function(a=10,b=20)     # Ans

In [41]:
import random
random.random() # we will get answer is not in our hands

0.5158071294458946

In [36]:
import random
random.randint(10,20)  # Answer we can change

20

In [33]:
complex()  # By default 0,0

0j

In [35]:
complex(10,20)

(10+20j)

In [45]:
sorted(iterable='python')  # Error

TypeError: sorted expected 1 argument, got 0

In [43]:
random.randint(a=10,b=30)  # Answer

12

**Note**

- we have arguments before / and after slash

- we can use the argument names after / only

- For example sorted has two arguments one is iterable and another one is reverse

- iterable is mentioned before / symbol

- reverse is mentioned after / symbol

- so we can use only reverse argument name while we are doing the work

- we cannot use iterable argument name 

- instead of using iterable name we can provide direct value at that position

**Reversed**

In [ ]:
type()
len()
max()
min()
print()
sorted()
reversed()

In [46]:
reversed('python')

- I already done my work
- your output is stored in that memory loction
- whenever you see this kind of answer less than greater than symbol or memory
- use for loop to see the answer

In [48]:
str1='python'
output=reversed(str1)
for i in output:
    print(i)

n
o
h
t
y
p

In [49]:
sorted('azycd')

['a', 'c', 'd', 'y', 'z']

In [50]:
reversed('azycd')

In [1]:
str11='azycd'
output=reversed(str11)
for i in output:
    print(i,end=' ')

d c y z a

- Initialization
- type
- len
- max
- min
- sorted
- reveresed

In [ ]:
type(<value>)
eval(<value>)
input(<value>)
max(<value>)
min(<value>)
sum(<value>)
sorted(<value>)
reversed(<value>)

In [5]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [7]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [9]:
sorted([1,10,2,20,30])

[1, 2, 10, 20, 30]

In [10]:
sorted([1,10,2,20,30],reverse=True)

[30, 20, 10, 2, 1]

**In Operator**

In [11]:
str1='naresh'
'n' in str1

True

In [15]:
# strings
# list 
# tuples
# sets
# dictionary

In [13]:
str1='naresh'
'nn' not in str1

True

In [14]:
for i in str1:
    print(i)

n
a
r
e
s
h

**Note**

- In operator directly access the letters

In [1]:
# Q1) WAP ask the user count how many 'a' are present in a given string
# str1='hai naresh how are you'
# Idea: counter wrapper
# step-1: count =0
# step-2: using for loop in operator iterate through given string 
# step-3: apply the if condition, whenever the letter equal to 'a'
# step-4 count=count+1

count=0
str1='hai naresh how are you'
for i in str1:
    if i=='a':
        count=count+1
print(count)

3

In [37]:
# Q2) WAP ask the user how many vowels are there in a string
# str1='hai naresh how are you'

count=0
str2='hai naresh how are you'

for i in str2:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print(count)

9

In [2]:
count=0
str2='hai naresh how are you'

for i in str2:
    if i in 'aeiou':
        count=count+1
print('the count is :',count)

the count is : 9

In [2]:
# Q3) home work
# str1='hai naresh how are you'
# repeated vowels are there
# we dont want repeaed vowels
# count the vowels avoid the repeatation: unique vowels
# step-1: count=0
# step-2: take one mire empty string ex=s2=''
# step-3: using for loop in operator iterate through given string 
# step-4: condition-1: That letter should not available in s2
# step-5       condition-2: vowel check condition
# step-6:                 count=coun+1
# step-7:                 update the s2= s2+<letter>


str5='hai naresh how are you'
s4=''
count=0
for i in str5:
     if i not in s4:
         if i in 'aeiou':
             count=count+1
             s4=s4+i
print("Count of unique vowels:", count)
print("Unique vowels:", s4)

Count of unique vowels: 5
Unique vowels: aieou

**How to update the empty strings**

In [45]:
s1='python'
s2=''

for i in s1:
    s2=s2+i  # concatenation
s2

'python'

**Concatenation**

In [46]:
s1='hello'
s2=' bye'
s1+s2

'hello bye'

In [47]:
s1='hello'
s3=' '
s2=' bye'
s1+s3+s2

'hello  bye'

In [49]:
s1='hello'
s2='bye'
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [50]:
s1='hello'
s2='bye'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [51]:
s1='hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [52]:
# s1*s2 = can't multiply sequence by non-int of type 'str'
# s1-s2 = unsupported operand type(s) for -: 'str' and 'str'
# s1/s2 = unsupported operand type(s) for /: 'str' and 'str'

In [55]:
s1='hello'
s2=2
s1*s2

'hellohello'

**Index**

- Index meaning a number attached to a letter
- In python index starts with zero
- We have ywo directions
    - positive direction
        - positive numbers starts with zero
    - negative direction
        - negative numbers starts with -1,applicable to last letter

In [ ]:
s1='python'

# -6  -5  -4  -3  -2  -1  ====> negative
#  p   y   t   h   o   n
#  0   1   2   3   4   5  ====> positive

In [61]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [62]:
s1='python'
s1[5],s1[4],s1[3],s1[2],s1[1],s1[0]

('n', 'o', 'h', 't', 'y', 'p')

**Mutable-Immutable**

- Mutable : can change
    - we can change using indexing
- Immutable : cannot change
    - we cannot change using indexing

In [3]:
s='welcome'
# I want to replace 'l' with 'L'
# Possible
# Not possible
s[2]='L'

TypeError: 'str' object does not support item assignment

**Strings are immutable**

In [6]:
l=[1,2,3,4]    # 2=200
l[1]=200
l

[1, 200, 3, 4]

In [ ]:
s='Welcome'
s[2]='L'
###########################
l=[1,2,3,4]
l[1]=200
l

- Range belongs to which family
    - math family
- inside range bracket what we need to provide 
    - number 
- How many numbers we need to provide
    - Number of leter : len(String)
- How to access the letter using number 
    - by using Index

In [11]:
# Q4) print each letter using for loop range

s='welcome'
for i in range(7):
    print(s[i],end='')
# i=0    s[0]=w
# i=1   s[1]=e

welcome

In [41]:
s='welcome'
n=len(s)
for i in range(n):
    print(s[i],end='')

welcome

- **for-in** directly access the letter 
- **for-range** will access using index

In [16]:
for i in s:
    print(i,end='')

welcome to naresh it

In [18]:
n=len(s)
for i in range(n):
    print(s[i],end='')

welcome to naresh it

In [40]:
# Q5) WAP ask the user iterate using a string
# string='welcome'
# print the positive index of w is 0
#       the positive index of e is 1
p='welcome'
n=len(p)
for i in range(n):
    print(f'The positive index of {p[i]} is {i}')

The positive index of w is 0
The positive index of e is 1
The positive index of l is 2
The positive index of c is 3
The positive index of o is 4
The positive index of m is 5
The positive index of e is 6

In [42]:
#  Q6) WAP ask the user iterate using a string 
# string='welcome'
# print the negative index of w is -7
#       the negative index of e is -6
#       the negative index of l is -5
p='welcome'
n=len(p)
for i in range(len(p)):
    print(f'The negative index of {p[i]} is {i-len(p)}')

The negative index of w is -7
The negative index of e is -6
The negative index of l is -5
The negative index of c is -4
The negative index of o is -3
The negative index of m is -2
The negative index of e is -1

In [45]:
#  Q7) WAP ask the user iterate using a string 
# string='welcome'
# positive index is zero and negative index is -7 for w
s='welcome'
n=len(s)
for i in range(len(s)):
    print(f'The positive index of {s[i]} is {i} the negative index of {s[i]} is {i-len(s)}')

The positive index of w is 0 the negative index of w is -7
The positive index of e is 1 the negative index of e is -6
The positive index of l is 2 the negative index of l is -5
The positive index of c is 3 the negative index of c is -4
The positive index of o is 4 the negative index of o is -3
The positive index of m is 5 the negative index of m is -2
The positive index of e is 6 the negative index of e is -1

In [57]:
# 8Q) WAP ask the user get the index of each 'a' in a given string
# s='hai how are you i am good'

s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        print('index of a =',i)

index of a = 1
index of a = 8
index of a = 18

In [59]:
# Q9) WAP ask the user to get count of number of 'a' in a given string 
#  using for-range
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i]=='a':
        count=count+1
print(count)

3

In [63]:
# Q10) WAP ask the user get the sum of all index numbers of 'a'
# 1+8+18=27
s='hai how are you i am good'
summ=0
count=0
for i in range(len(s)):
    if s[i]=='a':
        count=count+1
        summ=summ+i
print(summ)

27

In [64]:
# Q11) WAP ask the user get the vowels from a given string using for-range
s= 'hai how are you iam good'
count=0
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(s[i])
        count=count+1
print('The number of vowels are:',count)

a
i
o
a
e
o
u
i
a
o
o
The number of vowels are: 11

In [70]:
# Q12) WAP ask the user get the unique vowels from a given string using for-range
s= 'hai how are you iam good'
s1=''
count=0
for i in range(len(s)):
    if s[i] not in s1:
        if s[i] in 'aeiou':
            print(s[i])
            s1=s1+s[i]
            count=count+1

print('The number of unique vowels are:',count)

a
i
o
e
u
The number of unique vowels are: 5

In [75]:
# Q13) updated Q12 WAP ask the user get the unique vowels from a given string using for-range
s= 'hai how are you iam good'
s1=''
count=0
for i in range(len(s)):
    if s[i] not in s1 and s[i] in 'aeiou':
        print(s[i])
        s1=s1+s[i]
        count=count+1

print('The number of unique vowels are:',count)

a
i
o
e
u
The number of unique vowels are: 5

**Slice**

- we can cut into pieces
- similar to range concept
- start,stop,step here also

In [ ]:
str1='hai how are you'

In [ ]:
-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 h   a   i        h   o  w     a  r  e     y  o  u
 1   2   3    4   5   6  7  8  9  10 11 12 13 14 15

In [ ]:
str1[start:stop:step]

$Pattern-1$

**str1[start:]**

- By default start value = start only
- Last value nothing mentioned automatically it will go till = last only
- Step nothing mentioned means, it is a positive direction and increment by 1

In [14]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h   a   i        h   o  w     a  r  e     y  o  u
# 0   1   2   3    4   5  6  7  8  9 10 11 12 13 14
str1='hai how are you'
str1[-5:]     #[start:]

'e you'

In [15]:
str1[-3:]

'you'

In [16]:
str1[3:],str1[-11:]

(' how are you', 'how are you')

$Pattern-2$

str1[start:stop]

- Start value means by default start only
- step is not mentioned positive direction
- last = stop-1

In [17]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h   a   i        h   o  w     a  r  e     y  o  u
# 0   1   2   3    4   5  6  7  8  9 10 11 12 13 14
str1='hai how are you'
str1[5:14]     #[start:stop]

'ow are yo'

In [26]:
str1[-5:14]

'e yo'

In [29]:
str1[6:14]

'w are yo'

In [30]:
str1[1:100]

'ai how are you'

**Truncation Behaviour**

- Whenever string range is limited, but we provided unlimited number 
- String will consider till the range we have
- In the above example our range only 15 letters 
- We provideed 500, then 500 will truncate to till 15 letters only

In [36]:
str1[5:500]

'ow are you'

In [32]:
str1[-500:500]

'hai how are you'

In [33]:
str1[-1:500]

'u'

In [34]:
str1[500:]

''

In [37]:
str1[-500:-100]

''

$Pattern-3$

**str1[start:stop:step]**

- start value means start only
- If step value positive
    - last value = stop-1
- If step value negative
    - last value = stop+1

In [39]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h   a   i        h   o  w     a  r  e     y  o  u
# 0   1   2   3    4   5  6  7  8  9 10 11 12 13 14
str1[2:13:2]

'ihwaey'

In [40]:
str1[2:13:-2]

''

In [54]:
str1[2:-13:2]

''

In [42]:
str1[2:-13:-2]

''

In [43]:
str1[-2:13:2]

''

In [44]:
str1[-2:-13:2]

''

In [45]:
str1[-2:-13:-2]

'o r o '

In [46]:
str1[13:2:2]

''

In [47]:
str1[-13:2:2]

''

In [48]:
str1[-13:-2:2]

'ihwaey'

In [50]:
str1[-13:-2:-2]

''

In [51]:
str1[-13:2:-2]

''

In [55]:
str1[2:3:2]

'i'

In [ ]:
str1[:]     #Complete string
str1[::]   # complete string
str1[<start>::-1]  # Reverse start value=-1
str[<start>:5:-2]

================== PART-2 ======================

**Methods**

- Strings lists tuple dictionary every data type has its owm methods
- we already seen packages has different method
- For example random package: randint method
- Math package: sqrt
- In the same way strings also have methods
- In order to see methods for the packages
    - we are importing the package
    - we are applying dir
- In the similar way in order to see the methods of string, we need to apply dir only

In [56]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
str1='apple'
dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- Lower

- Upper

- Capitalize

- Title

- Casefold

- Center

**Upper**

In [78]:
str1='Hai How Are You'

In [79]:
str1.upper()

'HAI HOW ARE YOU'

**Lower**

In [80]:
str1.lower()

'hai how are you'

**Casefold**

In [65]:
str1.casefold()

'hai how are you'

**Title**

In [66]:
str1.title()

'Hai How Are You'

**Capitalize**

In [69]:
str1.capitalize()

'Hai how are you'

**Center**

In [81]:
str1.center(len(str1))

'Hai How Are You'

- Center has two arguments
    - width
    - fill char
- Original string already : 15 letters
- We want to create a new string with 20 letters
- Remaining 5 letters by default empty
- we can fill with characters also

In [82]:
str1.center(26,'*')

'*****Hai How Are You******'

**Count**

In [ ]:
str1='hai how are you'
# How many 'a's are there

In [5]:
str1='hai how are you'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(count)

2

In [3]:
str1.count('a')

2

In [9]:
str1='hai hai hai'
str1.count('a')

3

- we want a from a specific index
- we want number of a between two indexes

In [10]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1.count('a')
str1.count('a',5)

2

In [19]:
str1.count('a')
str1.count('a',1)

3

In [20]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1.count('a')
str1.count('a',5)
str1.count('a',4,8) # we are searching number of 'a' from index=4 to index=8

1

In [23]:
str1.count('a',-5,-1)

1

In [24]:
str1='ola ola ola'
str1.count('ola')      # In the interviews he will ask without using methods
                       # after getting job we need to use methods

3

In [33]:
count=0
str1='ola ola ola'
for i in str1:
    if i=='ola':
        count=count+1
print(count)

0

**Window method**

In [36]:
str1='ola ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1
print(count)

# step-1: count=0   i=0   str1[0:3]=='ola'   True   count=1
# step-2:           i=1   str1[1:4]

4

In [43]:
str1='ola ola ola'
str1.count('ola ola')

1

In [44]:
str1.count('z')

0

**Replace**

In [47]:
str1='welcome'
# I want to replace 'l' with 'L'
s1=str1[0:2]
s2=str1[3:]
s1+'L'+s2

'weLcome'

In [46]:
# we know that strings are immutable
# we cannot use index operations alse
# slice and concatination
# Divide welcome:   we    come
#s1='we'
#s2='come'
#print(s1+'L'+s2)

In [48]:
chr(ord('l')-32)

'L'

In [49]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [55]:
str1='wellcome'
str1.replace('l','L',1)

'weLlcome'

- By default replace will change all the occurences 
- Count=-1 is responsible for that 
- Which means we can provide some count also, which how many I want to change
- Give welllcome and change count=1 and count=2 explore

In [56]:
str1='welllcome'
str1.replace('l','L',1)

# when we write count=1
# It will change only one letter 
# that to first occurence only

'weLllcome'

In [57]:
str1='welllcome'
str1.replace('l','L',2)

'weLLlcome'

In [78]:
str1='restart'
s1=str1[:1]
s2=str1[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [79]:
str1='restart'
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**Index and Find method**

In [80]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
'isalpha',
'isascii',
'isdecimal',
'isdigit',
'isidentifier',
'islower',
'isnumeric',
'isprintable',
'isspace',
'istitle',
'isupper',

**Index**

- Index says that it will give the index of any letter in a given string 
- We already seen about count: count will give how many letters are there in a string
    - at what index you want to count 
    - between indexes also we an count the letters 
- Index meaning it will provide the index
- Imagine that there same letters repeated 
- How can we find the next index

In [6]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai'
str1.index('a')     # among all the indexes the lowest index is '1'
# Return the lowest index in s where substring sub is found

1

In [5]:
# I want to know next 'a' index after 3rd index
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai'
str1.index('a',3)        # after 3rd index the lowest index of a is '5'

5

In [4]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10

str1='hai hai hai'
str1.index('a',3,7)        # Between 3-7 index the lowest index is 5 only

5

In [13]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai'
str1.index('i',-9,-6)

2

In [20]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [28]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai'
print(str1.index('a'))
print(str1.index('a',3))
print(str1.index('a',3,7))

1
5
5

In [29]:
srt1='hai hai hai'
# I want to know all the indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [52]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)

1
5
9
13

In [44]:
# Home work implement above logic to get all the indexes
str1='hai hai hai'
substring = 'hai'
index = -1

while True:
    index = str1.find(substring, index + 1)
    if index == -1:
        break
    print(f'Substring "{substring}" found at index: {index}')

Substring "hai" found at index: 0
Substring "hai" found at index: 4
Substring "hai" found at index: 8

**Find**

In [42]:
str1='hai hai hai'
str1.find('a')

1

In [51]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai'
print(str1.find('a'))
print(str1.find('a',3))
print(str1.find('a',4))

1
5
5

In [54]:
# h  a  i     h  a  i     h  a  i
# 0  1  2  3  4  5  6  7  8  9  10
str1='hai hai hai hai'
i1=str1.find('a')
print(i1)
i2=str1.find('a',i1+1)
print(i2)
i3=str1.find('a',i2+1)
print(i3)
i4=str1.find('a',i3+1)
print(i4)
i5=str1.find('a',i4+1)
print(i5)

1
5
9
13
-1

In [55]:
str1='hai hai hai hai'
str1.replace('z','Z')

'hai hai hai hai'

- If substring not found
- count method will give zero
- Replace method will give original string 
- Index will give **substring not found error**
- Find will give **-1**

In [62]:
str1=input('enter the email id')
# first name = omkar
# second name = nallagoni 
# company name = cognizant
# Idea: find the triggers
# For first name .
# second name    . and @
# company name    @ and second

i1 = str1.index('.')
i2 = str1.index('.', i1 + 1)
i3 = str1.index('@')


first_name = str1[:i1]
last_name = str1[i1 + 1:i2]
company_name = str1[i3 + 1:str1.index('.',i3)]


print("First Name:", first_name)
print("Last Name:", last_name)
print("Company Name:", company_name)

enter the email id allu.arjun@pushpa.com

First Name: allu
Last Name: arjun@pushpa
Company Name: pushpa

- Upper/Lower/Casefold
- Capitalie/Title
- Center
- Count
- Replace
- Index/find
- Starts with is

- Split
- strip/lstrip/rstrip
- startswith/endswith

In [70]:
str1='hai hai hai hai'
str1.split('h',1)

['', 'ai hai hai hai']