# Lambda functions

- Lambda functions represents function concept
- But we can write in a single line
- like list comprehension, lamda functions similar only 
- It will decrease the time complexity 
- always remember if we use many for loops or many conditions using multiple line, the time complexity will increase

**It will use a keyword called lambda**
    
- lambda  (arguments : expression)

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattern - 1$

**Function with only one argument**

- Function name 
- argument name 
- return output

In [5]:
# Syntax: <function name>= lambda <argument name>: <return output>
summ=lambda n:n+10
summ(20)

30

In [6]:
def cube(n):
    return(n**3)
cube(10)

1000

In [7]:
cube=lambda n:n**3
cube(10)

1000

$Pattern-2$

**Two arguments**

In [8]:
# syntax: <function name>=lambda <arg1>,<arg2> : <return output>
add=lambda a,b:a+b
add(10,20)

30

In [15]:
avg=lambda a,b,c:round((a+b+c)/3,2)
avg(10,202,30)

80.67

$Pattern - 3$

**Default arguments**

In [18]:
avg=lambda a,b,c=300:round((a+b+c)/3,2)
avg(10,202)

170.67

$Pattern - 4$

**If - else**

In [20]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [23]:
# Syntax : function name = lambda <arg1>,<arg2> : <list comprehension>
# Syntax : function name = lambda <arg1>,<arg2> : <if_output> <if> <else> <else_output>

max=lambda a,b:a if a>b else b 
max(10,20)

20

$pattern - 5$

**Using list**

In [24]:
l=['hyd','chennai','mumbai']
# op=['Hyd','Chennai','Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [28]:
# lambda <variable>:<op>,<iterator>
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

**mapping**

- The function and iterator are availabe now
- we need to map both

In [29]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [30]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [31]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# step1 : write your normal expression
    # for ex: lambda <variable>:<op>  ====>  i:i.capitalize()
# step2 : add the iterator
    # for ex:lambda <variable>:<op>,<list>   ====>  i:i.capitalize(),list1
# step3 : map the both
    # for ex:map(lambda <variable>:<op>,<list>)   ====>  map(i:i.capitalize(),list1)
# step4 : save the values in a list
    # for ex:list(map(lambda <variable>:<op>,<list>)) ====> list(map(i:i.capitalize(),list1))

# Note

# if list is not working try with tuple

- Case-1: Function call with one argument
    - lambda arguments : Exression
    - lambda variables : return output
- Case-2: Function call with two arguments
    - lambda arguments : Exression
    - lambda variables : return output
- Case-3: Function call with default arguments
    - lambda arg1,arg2=500 : Exression
    - lambda var1,var2=500 : return output
- Case-4: Function call with two arguments and if-else statement
    - lambda arg1,arg2 : Expression
    - lambda var1,var2 : if_output if_condition else else_output forloop
- case-5: lambda operations using list
    - lambda arg: Expression,iterator
    - map(lambda var: operation,list)
    - list(map(lambda var: operation,list))

In [3]:
l=['hyd','chennai','mumbai']
# op =['HYD','CHENNAI','MUMBAI']
#for i in l:
#    print(i.upper())

list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

**Filter**

- whenever if conditions are there use filter

In [9]:
l=['hyd','che#nnai','mum#bai','blr']
# op=['che#nnai','mum#bai']

list(filter(lambda i:'#' in i,l))

['che#nnai', 'mum#bai']

In [11]:
# numbers = [1,3,2,7,6]
# op=[2,6]
numbers = [1,3,2,7,6]
list(filter(lambda i:i%2==0,numbers))

[2, 6]

**Reduce**

- All inbuilt functions can achieve by reduce 
- Reduce is availabe from function tools pacakage
- level-1 : reduce(lambda summ,i:summ+i,l1)
- level-2 : filter((lambda summ,i:summ+i,l1,inital_value))
- For example we want initialize summ=0 then we choose level-1
- for example we want start with other than zero then we choose level-2

In [13]:
l1=[1,2,3,4,5]
# i want sum of the elements in a list
# method-1: sum 
sum(l1)
# method-2: without sum 
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

In [1]:
l1=[1,2,3,4,5]
(lambda summ,i:summ+i,l1)

(<function __main__.<lambda>(summ, i)>, [1, 2, 3, 4, 5])

In [42]:
import functools
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [39]:
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [40]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [49]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1,4)

19

In [51]:
ft.reduce(lambda x,y:x*y,l1)

120

In [56]:
filter(lambda x,y:x>y,l1)

In [57]:
import functools

In [58]:
functools

In [ ]:
# In lambda function
# write if else