In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'Naresh IT',True)

10 10.5 Naresh IT True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [10]:
a=10
b=20
c=a+b
print('the addition of' ,a, 'and', b, 'is',c)

the addition of 10 and 20 is 30

**Format method**

In [11]:
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 10 and 20 is 30

In [16]:
name='girik'
age=21
city='hyderabad'
print('my name is {} im {} years old im from {}'.format(name,age,city))

my name is girik im 21 years old im from hyderabad

In [18]:
employee_name='girik'
employee_role='developer'
company='microsoft'
print('my name is {} my role is {} my company name is {}'.format(employee_name,employee_role,company))

my name is girik my role is developer my company name is microsoft

**f-String Method**

In [19]:
name='girik'
age=21
city='hyderabad'
print(f'my name is {name} im {age} years old im from {city}')

my name is girik im 21 years old im from hyderabad

In [20]:
print(f'my name is {a} im {b} years old im from {c}')

my name is 10 im 20 years old im from 30

In [1]:
num1=100
num2=200
average=(num1+num2)/2
# the average of 100 and 200 is : 15
print(f'the average of {num1} and {num2} is {average}')

the average of 100 and 200 is 150.0

In [3]:
num1=100
num2=200
average=(num1+num2)/2
# the average of 100 and 200 is : 15
print('the average of {} and {} is {}'.format(num1,num2,average))

the average of 100 and 200 is 150.0

In [9]:
#take the radius of circle 
#take the pi value =3.14
#find the area of the circle=pi*r*r
r=10
pi=3.14
a=pi*r*r
print(f'the area of circle is {a}')
print('the area of circle is:{}'.format(a))

the area of circle is 314.0
the area of circle is:314.0

In [14]:
#take the base of the triangle
# take the height of the triangle
#area of the triangle =1/2*base*height
b=10
h=20
t=1/2*b*h
print(f'the area of triangle is {t}')
print('the area of triangle is {}'.format(t))

the area of triangle is 100.0
the area of triangle is 100.0

In [35]:
# take the bill amount
# take the tip percentage
# calculate tip amount
# calculate the total bill
# print the total bill
bill_amount=1000
tip_percentage=0.1
tip_amount=bill_amount*tip_percentage
total_bill= bill_amount+tip_amount
print(f"the total bill is {total_bill}")

the total bill is 1100.0

$end$
- combining multiple print statements in a sinle statement

In [33]:
print(10,end=' ')
print(20)

10 20

In [34]:
print(10,end=' ')
print(20,end=' ')
print(30)

10 20 30

$sep$
- seperate the multiple values in a single print statement

In [38]:
print(10,20,30,sep='---> ')

10---> 20---> 30

In [39]:
print(f'the addition of {5} and {3} is {5+3}.')

the addition of 5 and 3 is 8.

In [41]:
print('the addition of {} and {} is {}.'.format(5,3,5+3))

the addition of 5 and 3 is 8.