# List comprehension

- we can store the output values by using append operations
- we are taking empty list
- we are iterating through elements from a given list
- the result we are appending in a new list

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are there in the process
- The three lines we can make into a single line
- This is called as LIST COMPREHENTION

$Pattern-1$

**Only for loop**

In [2]:
# syntax
# [<output>  <for loop>]

In [6]:
sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# Q1)
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

# Q1)  What is the output  ?  i*i
# Q2)  What is the output list name?  square_list
# Q3)  What is the for loop?   for i in range(10)
# [<output>  <for loop>]
sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# Q2) l1=['hyd','mumbai','chennai','blr']
# upper_list= ['Hyd','Mumbai','Chennai','Blr']
upper_list=[]
l1=['hyd','mumbai','chennai','blr']
for i in l1:
    upper_list.append(i.upper())
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [9]:
[i.upper() for i in l1]

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [10]:
[i.lower() for i in l1]

['hyd', 'mumbai', 'chennai', 'blr']

In [11]:
# Q3) l2=['Hyd','Mumbai','Chennai','Blr']
# upper_list= ['hyd','mumbai','chennai','blr']
l2=['hyd','mumbai','chennai','blr']
[i.lower() for i in l2]

['hyd', 'mumbai', 'chennai', 'blr']

In [24]:
# Q4) l3=['Hyd','Mumbai','Chennai','Blr']
# sum of the indexes of all elements
l3=['Hyd','Mumbai','Chennai','Blr']
idx_list=[l3.index(i) for i in l3]
idx_list

[0, 1, 2, 3]

In [26]:
idx_list=[l3.index(i) for i in l3]
sum(idx_list)

6

- making empty list will not works in list comprehension
- initializations will not works in list comprehension
- assignement operations also not works

$Pattern-2$

**For loop - if condition**

In [ ]:
# syntax
# [<output> <for loop> <if condition>]

In [27]:
# Q5) l5=['Hyd','Mumbai','Chennai','Blr']
#  ans= ['Mumbai','chennai']
#  we want elements which are len of elements >4

l5=['Hyd','Mumbai','Chennai','Blr']
for i in l5:
    if len(i)>4:
        print(i)

Mumbai
Chennai

In [28]:
[i for i in l5 if len(i)>4]

['Mumbai', 'Chennai']

In [1]:
# Q6)l6=['Hyd','Mum#bai','Chen#nai','blr']
#  ans=['Mum#bai'',Chen#nai']  
#  we want lements which are having '#'
l6=['Hyd','Mum#bai','Chen#nai','blr']
ans=[]
[i for i in l6 if '#' in i]

['Mum#bai', 'Chen#nai']

In [2]:
# Q7)l7=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital
ans1=[]
l7=['Hyd','Mumbai','chennai','blr']
op=[i for i in l7 if i[0].isupper()]
op

['Hyd', 'Mumbai']

In [4]:
# Q8)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'
l8=['Hyd','Mum#bai','Chen#nai','blr']
op_nohash=[]
op_nohash=[i for i in l8 if '#' not in i]
op_nohash

['Hyd', 'blr']

In [14]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'

# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index('.')]
f_name=[]
for i in list1:
    f_name.append(i[:i.index('.')])
f_name

[i[:i.index('.')] for i in list1 ]

['virat', ' Rohit', ' KL']

In [15]:
[i[:i.index('.')] for i in list1 ]

['virat', ' Rohit', ' KL']

In [20]:
[i[i.index('.'):i.index('@')] for i in list1 ]

['.kohli', '.sharma', '.Rahul']

In [3]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
list1=str1.split(',')
first_name=[i[:i.index('.')] for i in list1]
second_name=[i[i.index('.')+1:i.index('@')] for i in list1]
c_name=[i[i.index('@')+1:i.index('.',i.index('.')+1)] for i in list1]
print('First name =',first_name)
print('second name =',second_name)
print('company name =',c_name)

First name = ['virat', ' Rohit', ' KL']
second name = ['kohli', 'sharma', 'Rahul']
company name = ['rcb', 'mi', 'lucknow']

$Pattern-3$

**if-else**

In [ ]:
[<output> <for loop>]  :  for loop
[<output> <for loop> <if condition>] : for-if
[<ifoutput> <if> <else> <elseoutput> <for>] : if-else

**Even - odd**

In [13]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f'even:{i}')
    else:
        op_list.append(f'odd:{i}')
op_list

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']

In [12]:
[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']