## Dictionary

- We already seen many data types

- string 

- list 

- Tuples

- set

- Dictionary

- Integer

- float

- bool

- complex

- range

- array

**Zip**

In [3]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
# here i is names and j is age we have to take how many variables
# required for the program
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [4]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [7]:
dict1={<key>:<value>}
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
# 'Ramesh' is the key ===== 20 its related value
dict1={'ramesh': 20,'suresh':25,'satish':30}

In [5]:
dict1={'ramesh': 20,'suresh':25,'satish':30}
type(dict1)

dict

- initialization
- type 
- max
- min
- len
- revered
- sorted
- in 
- index
- mutablility
- concatination
- slicing
- methods

**Create all type of dictionaries**

In [12]:
d1={'manish':25,'shubham':20,'Govindh':15}
d1

{'manish': 25, 'shubham': 20, 'Govindh': 15}

In [14]:
d2={'manish':'25','shubham':'20','Govindh':'15'}
d2

{'manish': '25', 'shubham': '20', 'Govindh': '15'}

In [16]:
d3={'manish':25,'mainsh':20,'manish':15}
d3

{'manish': 15, 'mainsh': 20}

In [17]:
d4={30:'manish',20:'mainsh',25:'manish'}
d4

{30: 'manish', 20: 'mainsh', 25: 'manish'}

In [ ]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}

d2={'Manish':'25', 'Shubam': '20', 'Govindh':'15'}

d3={25:'Manish', 20:'Shubam', 15:'Govindh'}

d4={25:50}

d5={'Fruites':['Apple','Cherry']}

d6={['Apple','Cherry']:'Fruites'}

d7={('Apple', 'Cherry'):'Fruites'}

d8={'Ajay':25, 'Ajay':30}

d9={25:'Ajay', 30:'Ajay'}

d10={'Fruites':{'mangoes':20}}

In [18]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}
d1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [19]:
d2={'Manish':'25', 'Shubam': '20', 'Govindh':'15'}
d2

{'Manish': '25', 'Shubam': '20', 'Govindh': '15'}

In [20]:
d3={25:'Manish', 20:'Shubam', 15:'Govindh'}
d3

{25: 'Manish', 20: 'Shubam', 15: 'Govindh'}

In [21]:
d4={25:50}
d4

{25: 50}

In [22]:
d5={'Fruites':['Apple','Cherry']}
d5

{'Fruites': ['Apple', 'Cherry']}

In [23]:
d6={['Apple','Cherry']:'Fruites'}
d6
# key=list not possible because list is mutable

TypeError: unhashable type: 'list'

In [24]:
d7={('Apple', 'Cherry'):'Fruites'}
d7

{('Apple', 'Cherry'): 'Fruites'}

In [25]:
d8={'Ajay':25, 'Ajay':30}
d8

{'Ajay': 30}

In [26]:
d9={25:'Ajay', 30:'Ajay'}
d9

{25: 'Ajay', 30: 'Ajay'}

In [28]:
d10={'Fruites':{'mango':20}}
d10

{'Fruites': {'mango': 20}}

**Key points**

- keys have only latest value
- No duplicate key
- Keys should be only one 
- values can be duplicate
- which means different keys can have same value
- list can not be a key. because lists are mutable
- tuple can be a key . becuase tuple are immutable

**max**

In [32]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}

d2={'Manish':'25', 'Shubam': '20', 'Govindh':'15'}

d3={25:'Manish', 20:'Shubam', 15:'Govindh'}

# operations apply on keys
# keys are important
max(d1)

'Shubam'

In [33]:
d2={'Manish':'25', 'Shubam': '20', 'Govindh':'15'}
max(d2)

'Shubam'

In [34]:
d3={25:'Manish', 20:'Shubam', 15:'Govindh'}
max(d3)

25

**min**

In [51]:
d7= {20:'manish',20:'shubham',20:'govindh'}
min(d7)

20

**Length**

In [36]:
d3={25:'Manish', 20:'Shubam', 15:'Govindh'}
len(d3)

3

In [37]:
d7= {20:'manish',20:'shubham',20:'govindh'}
len(d7)

1

In [ ]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15} # 'Shubam'

d2={'Manish': '25', 'Shubam': '20', 'Govindh': '15'} # 'Shubam'

d3={25: 'Manish', 20: 'Shubam', 15: 'Govindh'} # 25

d4={'Manish':25, 'Shubam': '20', 'Govindh':15} # 'Shubal

d5={25: 'Manish', '20': 'Shubam', 15: 'Govindh'} # Error

d6={'Manish': 20, 'Shubam': 20, 'Govindh': 20} # 'Shubam

d7={20: 'Manish', 20: 'Shubam', 20: 'Govindh'} # 20

In [38]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}
len(d1)

3

In [39]:
d2={'Manish': '25', 'Shubam': '20', 'Govindh': '15'} 
len(d2)

3

In [41]:
d3={25: 'Manish', 20: 'Shubam', 15: 'Govindh'}
len(d3)

3

In [42]:
d4={'Manish':25, 'Shubam': '20', 'Govindh':15} 
len(d4)

3

**Sorted**

In [54]:
d4={'Manish':25, 'Shubam': '20', 'Govindh':15}
list(sorted(d4,reverse=True))

['Shubam', 'Manish', 'Govindh']

In [53]:
d3={25: 'Manish', 20: 'Shubam', 15: 'Govindh'}
list(sorted(d3,reverse=True))

[25, 20, 15]

In [55]:
d5={25: 'Manish', '20': 'Shubam', 15: 'Govindh'} # Error
list(sorted(d5,reverse=True))

TypeError: '<' not supported between instances of 'str' and 'int'

**Reversed**

In [47]:
d5={25: 'Manish', '20': 'Shubam', 15: 'Govindh'} 
reversed(d5)

In [48]:
for i in reversed(d5):
    print(i)

# only keys will come in reverse

15
20
25

In [49]:
for i in reversed(d4):
    print(i)

Govindh
Shubam
Manish

In [50]:
for i in reversed(d1):
    print(i)

Govindh
Shubam
Manish

**In - operator**

In [58]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}
for i in d1:
    print(i)

Manish
Shubam
Govindh

In [59]:
d5={25: 'Manish', '20': 'Shubam', 15: 'Govindh'}
for i in d5:
    print(i)

25
20
15

**Index**

In [61]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}
# If you want retrive the values
# python will never give 'manish':25
d1['Manish']

25

In [62]:
d1['Govindh']

15

In [64]:
d5={25: 'Manish', '20': 'Shubam', 15: 'Govindh'}
d5['20']

'Shubam'

In [65]:
d5[25]

'Manish'

In [66]:
d5[15]

'Govindh'

In [5]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}
# Dictionary is a key:value pair
# We can not use index number directly
# whenever you want to call a value, we will use key 
d1['Manish']
d1['Shubam']
d1['Govindh']

15

In [6]:
for i in d1:
    print(f'{i} has age {d1[i]}')

Manish has age 25
Shubam has age 20
Govindh has age 15

In [10]:
names=['Vignesh','Mohit','Nagesh']
age=[20,35,30]
for i,j in zip(names,age):
    print(f'{i} has age {j}')

Vignesh has age 20
Mohit has age 35
Nagesh has age 30

**Dictionary to list**

In [11]:
d1={'Manish': 25, 'Shubam':20, 'Govindh':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
values

[25, 20, 15]

In [12]:
keys=[i for i in d1]
values=[d1[i] for i in d1]
print(keys)
print(values)

['Manish', 'Shubam', 'Govindh']
[25, 20, 15]

**How to create a empty list**

In [13]:
l=[]
l.append(20)
l

[20]

**Empty string**

In [14]:
s=''
s=s+'a'
s

'a'

**Empty dictionary**

In [17]:
#d={}
#d[<key>]=<value>
d={}
d['Girik']=25
d['sai']=15
d['rahul']=22
d

{'Girik': 25, 'sai': 15, 'rahul': 22}

In [20]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j
NAMES

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

**string to list**

In [25]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**Word frequency**

In [34]:
s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [1]:
string="""Data science is an interdisciplinary academic field that uses statistics, scientific computing, scientific methods,
            processes, scientific visualization, algorithms and systems to extract or extrapolate knowledge and insights from 
            potentially noisy, structured, or unstructured data. 
            Data science also integrates domain knowledge from the underlying application domain. 
            Data science is multifaceted and can be described as a science, a research paradigm, a research method, 
            a discipline, a workflow, and a profession."""
# task-1 in the above sentence you need to remove a, an,the
# task-2: Data science first letter ASCII value:68
#         science first letter ascii value :115
# {'Data':68,'science':115}
# Task 1: Remove 'a', 'an', 'the'
stop_words = ['a', 'an', 'the']
words = string.split()
filtered_words = [word for word in words if word.lower() not in stop_words]
new_string = ' '.join(filtered_words)
print("After removing stop words:", new_string)

# Task 2: ASCII values of first letters
first_word = "Data science"
first_letter_ascii = ord(first_word[0])
second_word = "science"
second_letter_ascii = ord(second_word[0])
print("ASCII value of 'D' in 'Data':", first_letter_ascii)
print("ASCII value of 's' in 'science':", second_letter_ascii)

After removing stop words: Data science is interdisciplinary academic field that uses statistics, scientific computing, scientific methods, processes, scientific visualization, algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data. Data science also integrates domain knowledge from underlying application domain. Data science is multifaceted and can be described as science, research paradigm, research method, discipline, workflow, and profession.
ASCII value of 'D' in 'Data': 68
ASCII value of 's' in 'science': 115

**mutable - immutable**

- Change the elements using index
- But in dictionary there is no index
- In dictionary we will change the value based on key only
- Instead of using the index, change the values using key
- If it is change it is mutable
- If it is not change it is immutable

In [36]:
d={'Girik': 25, 'Sai':20, 'rahul':15}
d['rahul']=22
d

{'Girik': 25, 'Sai': 20, 'rahul': 22}

- List and Dictionary are immutable
- tuple and strings are immutable
- Difference between list and tuple

In [40]:
d={'fruites':['mango']}
d['fruites'][0]

'mango'

In [46]:
d={'fruites':[{'apple':['kashmir']}]}
d['fruites'][0]['apple'][0]

'kashmir'

In [57]:
d={'Fruites': [

{'Apple':

{'Kashmir':

['India']

}

}
]
}
d['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [70]:
d={'Fruites': {'Benganapalli': {'Mango': {'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}}}}
d['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

**Dictionary Methods**

In [2]:
dir('')   # string methods
dir([])   # list methods
dir(())   # Tuple methods
dir({})   # Dictionary methods

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
string 
list 
tuple 
dictionary all are class objects

In [ ]:
'clear',
'copy',
'fromkeys',
'get',
'items',
'keys',
'pop',
'popitem',
'setdefault',
'update',
'values'

**items-keys-values**

In [3]:
d={'Girik': 25, 'Sai':20, 'rahul':15}
d

{'Girik': 25, 'Sai': 20, 'rahul': 15}

In [4]:
d.items()

dict_items([('Girik', 25), ('Sai', 20), ('rahul', 15)])

In [5]:
d.keys()

dict_keys(['Girik', 'Sai', 'rahul'])

In [6]:
d.values()

dict_values([25, 20, 15])

In [8]:
d.clear()
d

{}

**Method-1**

In [12]:
# we already learn how to make a list from dictionary
d={'Girik': 25, 'Sai':20, 'rahul':15}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

Girik 25
Sai 20
rahul 15

(['Girik', 'Sai', 'rahul'], [25, 20, 15])

In [16]:
list(d.keys()),list(d.values())

(['Girik', 'Sai', 'rahul'], [25, 20, 15])

- Dictionary keys will give dictionary keys items in a list 
- It looks like a list, but it is not a list
- which means we can not apply list methods
- so we need to convert into list type, by using list type casting

**Method-2**

In [20]:
d={'Girik': 25, 'Sai':20, 'rahul':15}
keys=list(d.keys())
values=list(d.values())
keys,values

(['Girik', 'Sai', 'rahul'], [25, 20, 15])

In [18]:
d.items()

dict_items([('Girik', 25), ('Sai', 20), ('rahul', 15)])

In [21]:
for i in d.items():
    print(i)

('Girik', 25)
('Sai', 20)
('rahul', 15)

**Method-3**

In [24]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

Girik 25
Sai 20
rahul 15

(['Girik', 'Sai', 'rahul'], [25, 20, 15])

In [25]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# Assignment explore  'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'